{% extends "base.html" %}
{% block mytitle %}
    {{ music_title }}
{% endblock %}
{% block myhead %}

{% endblock %}
{% block mycss %}

{% endblock %}

{% block mycontent %}
    <table id="song_list" class="table table-bordered table-striped text-center">
    </table>
{% endblock %}

{% block myjs %}
    <script type="text/javascript">
        $(function () {
            $.ajax({
                url:"{% url 'get_music' %}",
                type:"GET",
                data:{
                    type:"1",
                },
                dataType:"JSON",
                success:function (data, status) {
                    var html = ""
                    html += "<tr>"
                    html += "<td>ID</td>"
                    html += "<td>歌曲名称</td>"
                    html += "<td>歌手</td>"
                    html += "<td>歌曲图片</td>"
                    html += "<td>歌词链接</td>"
                    html += "</tr>"
                    for(var i=0; i< data.song_list.length;i++){
                        var song = data.song_list[i]
                        html += "<tr>"
                        html += "<td>"+(i+1)+"</td>"
                        html += "<td>"+song.title+"</td>"
                        html += "<td>"+song.author+"</td>"
                        html += "<td><img width=\"50px\" src=\""+song.pic_big+"\" alt=\"图片名称\"></td>"
                        html += "<td><a href=\""+song.lrclink+"\">歌词地址</a></td>"
                        html += "</tr>"
                    }
                    $("#song_list").html(html)

                },
                error:function (a,b,c) {
                }
            })
        })
    </script>
{% endblock %}

